* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background-color: #1b2029;
  color: aliceblue;
  font-weight: 600;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main h2 {
  color: #8880fe;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.or span {
  position: relative;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(204, 204, 204);
}

.or span::before,
.or span::after {
  position: absolute;
  content: " ";
  bottom: 50%;
  right: 50%;
  height: 0.1rem;
  width: 5rem;
  background: rgb(204, 204, 204);
  margin: 0 1rem;
}
.or span::after {
  left: 50%;
}

main .social-midia a {
  text-decoration: none;
}

main .social-midia {
  display: flex;
  align-content: center;
}

main .social-midia img {
  width: 36px;
  margin-left: 3rem;
}
main .social-midia a:first-child img {
  margin-left: 0;
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main form label span {
  font-size: 1.1rem;
  margin-top: 2rem;
}

main form input {
  background-color: #161923;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 18rem;
  color: aliceblue;
}

#button {
  border-radius: 2rem;
  background-color: #6c62f8;
  padding: 0.4rem;
  color: aliceblue;
  margin-top: 2rem;
  font-size: 1.1rem;
  width: 7rem;
  cursor: pointer;
}

#button:hover {
  font-size: 1.2rem;
  width: 9rem;
}

.or {
  margin-top: 2rem;
}

.images {
  width: 50vw;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#images {
  width: 30rem;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #6c62f8, #3f32f0);
  clip-path: circle(50% at right 100%);
  z-index: -1;
}

@media only screen and (min-width: 900px) and (max-width: 1200) {
  #images {
    width: 28rem;
  }
  .circle {
    clip-path: circle(50% at right 100%);
  }
}

@media only screen and (max-width: 900px) {
  .images {
    display: none;
    visibility: hidden;
  }

  main {
    width: 100vh;
  }

  #button {
    width: 17rem;
  }

  #button:hover {
    width: 17rem;
    background-color: aliceblue;
    color: #161923;
  }
}
